<form name="signUpForm" ng-controller="signUpCtrl" id="signUpForm" ng-submit="submitForm()">
	<div>
		<label>用户名:</label>
		<input type="text" name="username" ng-minlength="4" ng-maxlength="12" required ng-model="userInfo.username" ng-pattern="/^\w*$/" />
		<p class="error" ng-if="signUpForm.username.$error.required && signUpForm.username.$touched">用户名不能为空</p>
		<p class="error" ng-if="(signUpForm.username.$error.minlength || signUpForm.username.maxlength) && signUpForm.username.$touched">用户名在4至12个字符之间</p>
		<p class="error" ng-if="signUpForm.username.$error.pattern && signUpForm.username.$touched">用户名只能包含:数字,字母,下划线,汉字</p>
	</div>
	<div>
		<label>设置密码:</label>
		<input type="password" name="password" ng-minlength="6" ng-maxlength="32" required ng-model="userInfo.password" ng-pattern="/^[a-zA-Z0-9]*$/" />
		<p class="error" ng-if="signUpForm.password.$error.required && signUpForm.password.$touched">密码不能为空</p>
		<p class="error" ng-if="(signUpForm.password.$error.minlength || signUpForm.password.$error.maxlength) && signUpForm.password.$touched">密码长度在6至32个字符之间</p>
		<p class="error" ng-if="signUpForm.password.$error.pattern && signUpForm.password.$touched">密码只能包含:数字,字母</p>
	</div>
	<div>
		<label>确认密码:</label>
		<input type="password" name="confirmPwd" required ng-model="userInfo.confirmPwd" compare="userInfo.password" />
		<p class="error" ng-if="signUpForm.confirmPwd.$error.compare && signUpForm.confirmPwd.$touched">两次输入密码不相同</p>
	</div>
	<div>
		<label>邮箱地址:</label>
		<input type="email" name="email" ng-model="userInfo.email" />
		<p class="error" ng-if="signUpForm.email.$invalid && signUpForm.email.$dirty && signUpForm.email.$touched">邮箱地址不合法</p>
	</div>
	<div id="checkText">
		<input type="checkbox" name="checkText" ng-model="userInfo.checkText" />
		<label for="checkText">点击同意条款</label>
	</div>
	<div>
		<input type="submit" value="注册" />
	</div>
</form>